.myquote blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: serif;
  font-style: italic;
}
.myquote blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.myquote blockquote p {
  display: inline;
}

.wy-nav-content {
  max-width: 1080px !important;
}

figcaption .caption-text {
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-form iframe {
    width: 100% !important;
    height: auto !important;
  }
}
